{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
            <h1 class="display-1 text-center">Django CRUD</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat vel error 
                voluptate iusto dolores dignissimos sint molestias eaque dolor voluptatum, 
                deserunt pariatur illo ipsa possimus exercitationem reprehenderit rem sit! 
                Reiciendis fugiat id odio enim deserunt voluptates corrupti commodi nemo, 
                aliquid labore veniam, modi perferendis, doloribus nisi. Cum, doloribus deleniti 
                fuga, aspernatur laboriosam nostrum exercitationem temporibus atque repellendus 
                vel deserunt nulla dolor veniam non quibusdam vero alias neque quis architecto 
                quidem ullam voluptates numquam! Unde mollitia, ducimus praesentium recusandae 
            </p>
            <div class="text-center">
                <a class="btn btn-primary" href="/signin/">Sign In</a>
                <a class="btn btn-primary" href="/signup/">Sign Up</a>
            </div>
    </section>
</main>
{% endblock %}